main {
  min-height: 85vh;
}
.size {
  height: 500px;
  border: 2px solid red;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.addbasketbtn {
  width: 100%;
}
.flexjustifycenter {
  display: flex;
  justify-content: center;
}
